html{
	width: 600px;
	aspect-ratio: 21/10;
	background: rgba(30,40,60,1);
	color: rgba(218,218,218,1);
}

body{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	margin:0;
	padding:0;
}

.titleRow{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	height: 20%;
}

.tab_container{
	position: relative;
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.tab_row{
	position: relative;
	width: 90%;
	display: flex;
	justify-content: flex-start;
	height: 2rem;
}

.tab_row_item{
	padding: 0.5rem;
	width: fit-content;
	border: 1px solid rgba(218,218,218,1);
}

.tab_row_item:hover{
	cursor: pointer;
}

.selected{
	background: rgba(218,218,218,1);
	color: black;
}

.tab_body{
	position: relative;
	width: 100%;
	height: 70%;
	overflow-y: scroll;
}

.tab_body_element{
	display: none;
}

.container{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.qol_row{
	width: 90%;
	display: grid;
	grid-template-columns: 8fr 1fr 1fr;
	padding: 1rem 0 1rem 0;
	border-bottom: 2px solid rgba(218,218,218,1);
	position: relative;
}

#toggle_declutterer,
#toggle_docker,
#toggle_softphoneQueues,
#toggle_caseCategories,
#toggle_yonderColors{
	display: none;
}

.overlay{
	width: 2rem;
	height: 1rem;
	border-radius: 50px;
	background-color: white;
	position: relative;
}

.overlay_indicator{
	height: calc(1rem - 2px);
	aspect-ratio: 1/1;
	position: absolute;
	top: 50%;
	left: 1px; 
	transform: translateY(-50%);
	border-radius: 100%;
	transition: 0.1s ease-in-out;
}

.active{
	left: calc(100% - 1rem + 1px);
}

.overlay:hover{
    cursor: pointer;
}

.questionmark{
	box-sizing: border-box;
    position: absolute;
    top: 50%;
	transform: translateY(-50%);
    right: 0;
    border-radius: 50%;
    border: 1px solid #c1c1c1;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.questionmark:hover{
	cursor: help;
}

.helpText{
	display: none;
	position: fixed;
	width: 80%;
	padding: 0.5rem;
}

.helpText_inner{
	position: relative;
	padding: 0.5rem;
	background-color: rgba(220, 200, 125, 1);
	box-shadow: 5px 5px 10px 0px black;
	color: black;
}

.imprint{
	position: relative;
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.75rem;
}

.imprint a{
	margin: 0 0 0 1rem;
	color: white;
}

.visible{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}